
body {

}

#header {
  width: 100%;
  height: 100px;
}

#randomizeNotContDiv {
font-size: 15pt;
color: red;
width: 10%;
height: 45%;
top: 30px;
float: left;
position: relative;
visibility: visible;
margin-top: 35px;
}

#randomizingNotification {
font-size: 15pt;
color: red;
float: left;
position: relative;
visibility:hidden;
}

#page_title {
width: 70%;
height: 100%;
text-align: center;
float: left;
}

#todays_date_div {
width: 120px;
font-size: 12pt;
color: black;
position: relative;
float: right;
}

#text_div {
width:100px;
float:left;
}

#date_display {
width: 100px;
height: 1em;
line-height: 1em;
border: solid black 2px;
position: relative;
float: left;
color: black;
text-align:center;
}

#nextWeekDiv {
width:350px;
}

#helper_functions_div {
text-decoration: none;
font-family: "Helvetica", "Book Antiqua", Palatino, serif;
font-size: 14pt;
font-weight: bold;
color: #3399FF;
float: left;
position: relative;
left: -100px;
}

#enter_names_div {
float: left;
font-size: 20pt;
}

button#enter_names {
color:black;
width:100%;
font-size: 25px;
margin-top: 20px;
}

a#enter_names:hover {
color:red;
background-color:#3399FF;
}



#main_content {
width:100%;
height:600px;
}


#name_tracker {
width:10%;
padding:0;
float:left;
text-align:center;
}

h3 {
font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
color:#03C;
margin:0;
}


.picker_names_textarea {
  float:left;
  width:100px;
  height:2em;
  padding-top:0.5em;
  left: 5px;
  position: relative;
  text-align:center;
  resize:none;
}

#nextPick {
font-size:13pt;
visibility:visible;
background-color:#CCC;
}

#previousPick {
font-size:13pt;
visibility:visible;
background-color:#CCC;
}

#currentPick {
font-size:20pt;
visibility:visible;
color:red;
}

#the_schedule_div {
width: 90%;
height: 100%;
float: left;
}

table, td {
border: solid 1px black;

}

td {
width: 100px;
text-align: center;
line-height: 1em;
font-size: 10pt;
overflow: hidden;
padding:0;
}

textarea {
text-transform:uppercase;
}

textarea.shift {
width: 100%;
height: 2em;
line-height: 2em;
font-size: 13pt;
padding: 0;
font-weight: bolder;
border: none;
outline: none;
resize: none;
text-align: center;
}

textarea.sweeps{
width:43%;
font-size:10pt;
float:left;
font-weight:bolder;
border:none;
overflow:hidden;
outline:none;
resize:none;
text-align:center;
}

#sat_sweep, #sun_sweep {
width:100%;
font-size:10pt;
font-weight:bolder;
border:none;
overflow:hidden;
outline:none;
resize:none;
text-align:center;
}


textarea.printing {
width: 100%;
font-size: 10pt;
font-weight: bolder;
border: none;
overflow: hidden;
outline: none;
resize: none;
text-align: center;
}

textarea#friday_sweep1, #friday_sweep2 {
width:43%;
}

td.sweep_shift {
width:200px;
height:1em;
line-height:1em;
}

div.sweep_separator {
width:5px;
margin-top:3px;
float:left;
padding:0;
}

p.shiftTime {
width: 100%;
height: 30%;
margin-top: 0;
margin-bottom: 0;
text-align: center;
float: left;
background-color:#d8d8d8;
}


.black_blank {
background-color:black;
}

td.highlighted {
background-color:yellow;
}

td.shift1 {
background-color:#690;
}

td.shift2 {
background-color:#F9C;
}

td.shift3 {
background-color:green;
}

td.shift4 {
background-color:#C9F;
}

td.other {
background-color:#FC0;
}

td.weekend {
width:30px;
}

#tableOfNames {
	width: 100%;
	padding:0;
	z-index: -2;
	visibility: hidden;
	position: absolute;
	background:rgba(255,255,255,0.5);
}

#tableContainer {
	background-color:black;
	width:40%;
	margin-left:auto;
	margin-right:auto;
}

#namesTable {
	width:100%;
	border-left:solid 20px black;
	border-right:solid 20px black;
}

caption {
	background-color:red;
	color:black;
	font-size:24pt;
	border-left:solid 20px black;
	border-right:solid 20px black;
	border-top:solid 20px black;
}

.initialNumber {
	width:20%;
	text-align:center;
	background-color:white;
	color:black;
	padding:0;
	margin:0;
	border: solid 1px black;
}

.enterInitials {
	width:80%;
	border: solid 1px black;
	text-align: center;
	padding:0;
	margin:0;
}

.name {
	width: 100%;
	height: 2em;
	line-height: 2em;
	font-size: 13pt;
	font-weight: bolder;
	float: left;
	border: none;
	overflow: hidden;
	outline: none;
	resize: none;
	text-align: center;
	text-transform:uppercase;
	margin-left:auto;
	margin-right:auto;
}

#new_row_button, #submitNames {
	width:200px;
	margin-left:auto;
	margin-right:auto;
}

#add_row, #submitNamesButton {
	width:100%;
	height: 30px;
	margin-bottom: 10px;
}

#submitNamesButton {
	font-weight:bold;
	font-size:15pt;
	text-transform:uppercase;
}


