@charset "UTF-8";
/* CSS Document */

body {
	background-color: rgb(0, 62, 116);
	font-family: Arial, Sans-Serif;
	text-align: center;
}

#scheduling_trading_options {
	text-align: center;
}

#header {
	text-align: center;
	font-size: 36px;
	color: yellow;
}

#schedule_option_div {
	width:500px;
	float:left;
	position:relative;
	text-align:center;
	margin-left:50px;
	color: white;
}

#trade_option_div {
	width:500px;
	float:right;
	position:relative;
	text-align:center;
	margin-right:50px;
	color: white;
}

#schedule_option, #trade_option {
	text-align:center;
	border:solid white 5px;
	border-radius: 25px;
	padding:20px;
	font-size:36px;
}

a:visited{
	color:yellow;
}

a:hover{
	color: white;
}

a:link{
	color:yellow;
}
